<div randomScopeID class="modal fade confirm-dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>

      <div class="modal-body">
        <p>{{text}}</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary pull-left" data-dismiss="modal" ng-click="onConfirm()" ng-show="mode == 'confirm'"><i class="fa fa-check fa-fw"></i> Yes</button>
        <button class="btn btn-danger pull-left" data-dismiss="modal" ng-click="onConfirm()" ng-show="mode == 'delete'"><i class="fa fa-trash-o fa-fw"></i> Yes</button>
        <button class="btn btn-default" data-dismiss="modal" ng-show="mode != 'info'"><i class="fa fa-ban fa-fw"></i> No</button>
        <button class="btn btn-primary" data-dismiss="modal" ng-show="mode == 'info'"><i class="fa fa-check fa-fw"></i> Ok</button>
      </div>

    </div>
  </div>
</div>
