<div randomScopeID class="modal fade slots-prices-dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Slots Prices</h4>
      </div>

      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group" ng-repeat="slot in slots">
              <label class="control-label col-sm-3 slot-date"><span>{{slot.formatted.dateFrom}}</span> <span>{{slot.formatted.timeFrom}}</span></label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="radio" ng-repeat="price in slot.prices">
                    <label><input type="radio" name="slot_{{slot.id}}" ng-model="slot.selectedPrice" ng-value="price"/> {{price.currency}} {{price.amount | sb_numberX100 : true}} &nbsp; ({{price.name}})</label>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" ng-click="submit()"><i class="fa fa-check fa-fw"></i> Book</button>
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban fa-fw"></i> Cancel</button>
      </div>

    </div>
  </div>
</div>
