<div class="slots-calendar-fragment container-fluid">
  <div class="row" ng-repeat="week in calendar.weeks">
    <div class="day" ng-repeat="day in week" ng-class="{exclude: !day.include}">
      <p class="date">
        <span>{{day.date | sb_formatDate}}</span>
        <span>{{day.date | sb_weekdayAsWord}}</span>
      </p>
      <p class="slot" ng-repeat="slot in day.slots" ng-class="{booked: slot.bookStatus > 0, selected: slot.selected}" ng-click="slot.selected = !slot.selected" ng-dblclick="clicked(slot)">
        <span>{{slot.formatted.timeFrom}}</span>
        <span>{{slot.name}}</span>
      </p>
    </div>
  </div>
</div>
