<div id="view-manage-members">

  <h1 class="top">Members</h1>

  <div class="listed-places" ng-show="!editedPlace">
    <div class="btn-group">
      <button class="btn btn-default" ng-click="reloadPlaces()"><i class="fa fa-refresh fa-fw {{loadPlacesSpin ? 'fa-spin' : ''}}"></i> Refresh</button>
    </div>

    <listed-places places="listedPlaces" go-link="manage-members" go-title="Members" />
  </div>

  <ng-include src="'views/templates/manageMembers/editPlace.html'" sb-include-replace />

</div>
