<div class="place-moderators container-fluid">
  <div class="row">
    <div class="col-md-3 moderators">

      <h5><span>Moderators</span> <button class="btn btn-xs pull-right" ng-click="showAddModeratorFragment()"><i class="fa fa-plus fa-fw"></i> Add new</button></h5>
      <a href ng-click="showEditModeratorFragment(place.owner.id)">{{place.owner.fullName}}</a>
      <a href ng-repeat="moderator in place.moderators" ng-click="showEditModeratorFragment(moderator.id)">{{moderator.fullName}}</a>

    </div>
    <div class="col-md-9">

      <p ng-show="!editedModerator">Select a moderator from the list or add a new one</p>

      <div ng-show="editedModerator" class="moderator-data">
        <div class="btn-group pull-right">
          <button class="btn btn-xs btn-warning" ng-click="showChangeOwnerFragment()" ng-show="editedModerator.isOwner"><i class="fa fa-check fa-fw"></i> Change owner</button>
          <button class="btn btn-xs btn-success" ng-click="addEditedModerator()" ng-show="!editedModerator.isAssigned"><i class="fa fa-check fa-fw"></i> Add</button>
          <button class="btn btn-xs btn-danger" ng-click="removeEditedModerator()" ng-show="editedModerator.isAssigned && !editedModerator.isOwner"><i class="fa fa-times"></i> Remove</button>
        </div>

        <form class="form-horizontal">
          <fieldset>
            <div class="input-group">
              <span class="input-group-addon">Username</span>
              <input class="form-control" type="text" ng-model="editedModerator.username" readonly />
            </div>
            <div class="input-group">
              <span class="input-group-addon">Full name</span>
              <input class="form-control" type="text" ng-model="editedModerator.fullName" readonly />
            </div>
          </fieldset>
        </form>

      </div>

    </div>
  </div>

  <user-finder-dialog trigger="userFinderTrigger" on-submit="onSelectUser(user)"/>

</div>
