<div class="place-properties container-fluid">
  <div class="row">

    <div class="btn-group pull-right">
      <button class="btn btn-xs btn-success" ng-click="saveEditedPlace()"><i class="fa fa-check fa-fw"></i> Apply</button>
    </div>

    <form class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label class="control-label col-sm-2">Name</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="editedPlace.name" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Website</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="editedPlace.url" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Email</label>
          <div class="col-sm-6">
            <input class="form-control" type="email" ng-model="editedPlace.email" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Primary number</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="editedPlace.primaryNumber" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Address</label>
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon">Line 1</span>
              <input class="form-control" type="text" ng-model="editedPlace.address.line1" />
            </div>
            <div class="input-group">
              <span class="input-group-addon">Line 2</span>
              <input class="form-control" type="text" ng-model="editedPlace.address.line2" />
            </div>
            <div class="input-group">
              <span class="input-group-addon">Line 3</span>
              <input class="form-control" type="text" ng-model="editedPlace.address.line3" />
            </div>
            <div class="input-group">
              <span class="input-group-addon">Postcode</span>
              <input class="form-control" type="text" ng-model="editedPlace.address.postcode" />
            </div>
            <div class="input-group">
              <span class="input-group-addon">Town</span>
              <input class="form-control" type="text" ng-model="editedPlace.address.town" />
            </div>
            <div class="input-group">
              <span class="input-group-addon">Country</span>
              <input class="form-control" type="text" ng-model="editedPlace.address.country" />
            </div>
          </div>
        </div>
      </fieldset>
    </form>

  </div>
</div>
