<div class="panel-heading" ng-show="editedSlot">Bookings</div>
<div class="panel-body item-data" ng-show="editedSlot">

  <div class="btn-group pull-right">
    <button class="btn btn-xs btn-warning" ng-click="showAddBookingFragment()"><i class="fa fa-plus fa-fw"></i> Book</button>
  </div>

</div>

<p class="no-bookings-found" ng-show="editedSlot.bookings.length == 0">No bookings</p>

<table class="table table-hover" ng-show="editedSlot.bookings.length > 0">
  <thead>
  <tr>
    <th>User</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>

  <tr ng-repeat="booking in editedSlot.bookings" ng-click="showEditBookingFragment(booking.id)">
    <td>{{booking.user.fullName}}</td>
    <td>{{booking.statusText}}</td>
  </tr>

  </tbody>
</table>

