<div class="panel-heading">Slots for space: {{editedSpace.name}}</div>
<div class="panel-body container-fluid">
  <div class="row">

    <div class="col-sm-6">

      <div class="input-group">
        <span class="input-group-addon">Period</span>
        <input type="text" class="form-control" ng-model="dateFilter.from" datepicker />
        <span class="input-group-addon">to</span>
        <input type="text" class="form-control" ng-model="dateFilter.to" datepicker />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="applyDateFilter()"><i class="fa fa-search"></i></button>
          </span>
      </div>

    </div>
    <div class="col-sm-6">

      <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="changeDateFilter('day-1')"><i class="fa fa-play fa-flip-horizontal"></i></button>
        <button type="button" class="btn btn-default" ng-click="changeDateFilter('day')">Today</button>
        <button type="button" class="btn btn-default" ng-click="changeDateFilter('day+1')"><i class="fa fa-play"></i></button>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="changeDateFilter('month-1')"><i class="fa fa-backward"></i></button>
        <button type="button" class="btn btn-default" ng-click="changeDateFilter('month')">This month</button>
        <button type="button" class="btn btn-default" ng-click="changeDateFilter('month+1')"><i class="fa fa-forward"></i></button>
      </div>

      <div class="btn-group pull-right">
        <button class="btn btn-xs btn-primary" ng-click="showAddSlotFragment()"><i class="fa fa-plus fa-fw"></i> New slot</button>
      </div>

    </div>

  </div>
</div>

<p class="no-slots-found" ng-show="editedSpace.slots.length == 0">No slots found for the selected period</p>

<table class="table table-hover" ng-show="editedSpace.slots.length > 0">
  <thead>
  <tr>
    <th>Name</th>
    <th>From</th>
    <th>To</th>
    <th>Booked</th>
  </tr>
  </thead>
  <tbody>

  <tr ng-repeat="slot in editedSpace.slots" ng-click="showEditSlotFragment(slot.id)">
    <td>{{slot.name}}</td>
    <td class="slot-date"><span>{{slot.dateFromFormatted}}</span> <span>{{slot.timeFromFormatted}}</span></td>
    <td class="slot-date"><span>{{slot.dateToFormatted}}</span> <span>{{slot.timeToFormatted}}</span></td>
    <td>?</td>
  </tr>

  </tbody>
</table>
