<!-- Add slot dialog -->
<div randomScopeID class="modal fade slots-manager-add-slot-dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a New Slot</h4>
      </div>

      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label class="control-label col-sm-2">Name</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" ng-model="slot.name" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">From date</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input class="form-control" type="text" ng-model="dateFromFormatted" datepicker />
                  <span class="input-group-addon">time</span>
                  <input class="form-control" type="text" ng-model="timeFromFormatted" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">To date</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input class="form-control" type="text" ng-model="dateToFormatted" datepicker />
                  <span class="input-group-addon">time</span>
                  <input class="form-control" type="text" ng-model="timeToFormatted" />
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" ng-click="updateAndSubmit()"><i class="fa fa-check fa-fw"></i> Submit</button>
        <button class="btn" data-dismiss="modal"><i class="fa fa-ban fa-fw"></i> Close</button>
      </div>

    </div>
  </div>
</div>
