<div class="panel-heading" ng-show="editedBooking">Selected booking: {{editedBooking.name}}</div>
<div class="panel-body item-data" ng-show="editedBooking">

  <button class="btn btn-xs btn-danger pull-right delete-item" ng-click="cancelEditedBooking()"><i class="fa fa-times"></i> Cancel</button>
  <div class="btn-group pull-right">
    <button class="btn btn-xs btn-success" ng-click="submitEditedBooking()"><i class="fa fa-check fa-fw"></i> Apply</button>
  </div>


  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label class="control-label col-sm-3">Name</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" ng-model="editedBooking.name" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Booked for</label>
        <p class="col-sm-9">{{editedBooking.user.fullName}}</p>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Status</label>
        <p class="col-sm-9">{{editedBooking.statusText}}</p>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Attributes</label>
        <div class="col-sm-9">
          <textarea class="form-control" ng-model="editedBooking.attributes"></textarea>
        </div>
      </div>
    </fieldset>
  </form>

</div>
