<div class="panel-heading" ng-show="editedSlot">Selected slot: {{editedSlot.name}}</div>
<div class="panel-body item-data" ng-show="editedSlot">

  <button class="btn btn-xs btn-danger pull-right delete-item" ng-click="deleteEditedSlot()"><i class="fa fa-times"></i> Delete</button>
  <div class="btn-group pull-right">
    <button class="btn btn-xs btn-success" ng-click="submitEditedSlot()"><i class="fa fa-check fa-fw"></i> Apply</button>
    <button class="btn btn-xs" ng-click="showAddPriceFragment()"><i class="fa fa-plus fa-fw"></i> New price</button>
  </div>

  <form class="form-horizontal">
    <fieldset>
      <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input class="form-control" type="text" ng-model="editedSlot.name" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">From date</span>
        <input class="form-control" type="text" ng-model="editedSlot.dateFromFormatted" datepicker />
        <span class="input-group-addon">time</span>
        <input class="form-control" type="text" ng-model="editedSlot.timeFromFormatted" />
        <span class="input-group-addon new-group">To date</span>
        <input class="form-control" type="text" ng-model="editedSlot.dateToFormatted" datepicker />
        <span class="input-group-addon">time</span>
        <input class="form-control" type="text" ng-model="editedSlot.timeToFormatted" />
      </div>
    </fieldset>
  </form>

  <div class="col-md-6">
    <h5 ng-show="editedSlot.prices.length > 0">Prices</h5>
    <a href class="col-md-2" ng-repeat="price in editedSlot.prices" ng-click="showEditPriceFragment(price.id)">{{price.amount | numberX100 : true }}</a>
  </div>

</div>
