#page-wrapper {
  min-height: 600px;
  padding: 10px;
}

.navbar-brand {
  width: 250px;
}

.menu-tabs {
  margin: 10px 0 10px 0;
}

.gap-top {
  padding-top: 10px;
}

#top-header {
  display: inline-block;
  margin: 0;
  padding: 15px 0 0 0;
  font-size: 18px;
}

.ui-datepicker {
  z-index:1051 !important;
}

h1.top {
  display: none;
}

#view-sign-in form {
  width: 400px;
  margin: 0 auto;
  padding: 150px 50px 0 50px;
}

#view-manage-places .listed-places .place {
  border: 1px solid silver;
  margin: 10px 0;
  min-height: 180px;
}

#view-manage-places .listed-places .place img {
  width: 100px;
  height: 100px;
  amax-width: 120px;
  amax-height: 120px;
  float: left;
  border: 0;
  margin: 0 20px;
  border: 1px solid #f6f6f6;
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 20px, #fff 20px, #fff 40px);
}

#view-manage-places .listed-places .place h3 {
  padding: 5px 10px;
  margin: 0 0 10px 0;
  font-size: 16px;
  background: #f6f6f6;
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 20px, #fff 20px, #fff 40px);
}

#view-manage-places .listed-places .place h3 a {
  font-size: 14px;
  float: right;
  margin: 0 5px;
}

#view-manage-places .listed-places .place p span {
  width: 90px;
  display: inline-block;
  font-weight: 500;
}

#view-manage-places .edited-place .breadcrumb {
  margin-bottom: 0;
}

#view-manage-places .edited-space .slots-list tbody td:first-child {
  cursor: default;
  width: 30px;
}

#view-manage-places .edited-space .slots-list tbody td {
  cursor: pointer;
}

#view-manage-places .edited-space .slots-calendar .day {
  float: left;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #999;
  width: 100px;
}

#view-manage-places .edited-space .slots-calendar .day .date {
  background: #ddd;
  margin: 0;
  padding: 5px;
  text-align: center;
}

#view-manage-places .edited-space .slots-calendar .day .date span {
  display: block;
}

#view-manage-places .edited-space .slots-calendar .day .slot {
  border: 1px solid #ddd;
  margin: 0;
  padding: 5px 5px 0 5px;
  font-size: 10px;
  height: 25px;
}

#view-manage-places .edited-space .slots-calendar .day .slot.booked {
  background: repeating-linear-gradient(45deg, #ddd, #ddd 10px, #fff 10px, #fff 20px);
}

#view-manage-places .edited-space .slots-calendar .day .slot span {
  display: block;
  float: right;
}

#view-manage-places .edited-space .slots-calendar .day .slot span:first-child {
  width: 30px;
  float: left;
}

#view-manage-places .edited-space .slots-calendar .day.exclude {
  border: 1px solid #ddd;
}

#view-manage-places .edited-space .slots-calendar .day.exclude .date {
  border: 1px solid #ddd;
  background: none;
}

#view-manage-places .edited-space .breadcrumb.slot-nav span {
  padding-right: 10px;
}

#view-manage-places .edited-space button.slot-period {
  border-right: none;
  border-radius: 0;
}

#view-manage-places .new-place .template h3 {
  padding: 5px 10px;
  margin: 10px 0 10px 0;
  font-size: 16px;
  background: #f6f6f6;
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 20px, #fff 20px, #fff 40px);
}
