#page-wrapper {
  min-height: 600px;
  padding: 10px;
}

.navbar-brand {
  width: 250px;
}

.menu-tabs {
  margin: 10px 0 10px 0;
}

.gap-top {
  padding-top: 10px;
}

#top-header {
  display: inline-block;
  margin: 0;
  padding: 15px 0 0 0;
  font-size: 18px;
}

.ui-datepicker {
  z-index:1051 !important;
}

h1.top {
  display: none;
}

#view-sign-in form {
  width: 400px;
  margin: 0 auto;
  padding: 150px 50px 0 50px;
}

.listed-places-fragment .place {
  border: 1px solid silver;
  margin: 10px 0;
  min-height: 180px;
}

.listed-places-fragment .place img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 20px;
  border: 1px solid #f6f6f6;
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 20px, #fff 20px, #fff 40px);
}

.listed-places-fragment .place h3 {
  padding: 5px 10px;
  margin: 0 0 10px 0;
  font-size: 16px;
  background: #f6f6f6;
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 20px, #fff 20px, #fff 40px);
}

.listed-places-fragment .place h3 a {
  font-size: 14px;
  float: right;
  margin: 0 5px;
}

.listed-places-fragment .place p span {
  width: 90px;
  display: inline-block;
  font-weight: 500;
}

#view-manage-places .edited-place .breadcrumb {
  margin-bottom: 0;
}

#view-manage-places .edited-space .breadcrumb.slot-nav span {
  padding-right: 10px;
}

#view-manage-places .edited-space button.slot-period {
  border-right: none;
  border-radius: 0;
}

#view-manage-places .new-place .template h3 {
  padding: 5px 10px;
  margin: 10px 0 10px 0;
  font-size: 16px;
  background: #f6f6f6;
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 20px, #fff 20px, #fff 40px);
}

.slots-table tbody td:first-child {
  cursor: default;
  width: 30px;
}

.slots-table tbody td {
  cursor: pointer;
}

.slots-calendar-fragment .day {
  float: left;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #999;
  width: 100px;
}

.slots-calendar-fragment .day .date {
  background: #ddd;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.slots-calendar-fragment .day .date span {
  display: block;
}

.slots-calendar-fragment .day .slot {
  border: 1px solid #ddd;
  margin: 0;
  padding: 5px 5px 0 5px;
  font-size: 10px;
  height: 25px;
}

.slots-calendar-fragment .day .slot.booked {
  background: repeating-linear-gradient(45deg, #ddd, #ddd 10px, #fff 10px, #fff 20px);
}

.slots-calendar-fragment .day .slot.booked.selected {
  background: repeating-linear-gradient(45deg, #ddd, #ddd 10px, #f7e285 10px, #f7e285 20px);
}

.slots-calendar-fragment .day .slot.selected {
  background: #f7e285;
}

.slots-calendar-fragment .day .slot span {
  display: block;
  float: right;
}

.slots-calendar-fragment .day .slot span:first-child {
  width: 30px;
  float: left;
}

.slots-calendar-fragment .day.exclude {
  border: 1px solid #ddd;
}

.slots-calendar-fragment .day.exclude .date {
  border: 1px solid #ddd;
  background: none;
}

#view-manage-bookings .edited-place .breadcrumb {
  margin-bottom: 0;
}

#view-manage-bookings .edited-space .breadcrumb.slot-nav span {
  padding-right: 10px;
}

#view-manage-bookings .edited-space .active-booking span {
  width: 100px;
  display: inline-block;
  font-weight: 500;
}

.new-place-guide .place {
  border: 1px solid silver;
  margin: 10px 0;
  min-height: 150px;
}

.new-place-guide .place img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 20px;
  border: 1px solid #f6f6f6;
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 20px, #fff 20px, #fff 40px);
}

.new-place-guide .place h3 {
  padding: 5px 10px;
  margin: 0 0 10px 0;
  font-size: 16px;
  background: #f6f6f6;
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 20px, #fff 20px, #fff 40px);
}

.new-place-guide .place h3 a {
  font-size: 14px;
  float: right;
  margin: 0 5px;
}

.slots-prices-dialog .table th.c1 {
  width: 160px;
}

.slots-prices-dialog .table th.c2 {
  width: 120px;
}

.slots-prices-dialog .table th.c3 {
  width: 240px;
}

.slots-prices-dialog .table th.c4 {
}

.slots-prices-dialog .table td span {
  display:inline-block;
}

.slots-prices-dialog .table td.c1 span {
  padding-top: 8px;
  font-weight: 500;
}

.slots-prices-dialog .table td.c1 span:first-child {
  width: 80px;
}

.slots-prices-dialog .table td .c2 {
  width: 120px;
}

.slots-prices-dialog .table td .c2 .sign {
  margin-right: 5px;
  font-size: 12px;
}

.slots-prices-dialog .table td .c3 {
  width: 235px;
}


.slots-prices-dialog .table td .c4 {
  font-size: 12px;
}

.slots-prices-dialog .credit span:first-child {
  margin-right: 5px;
  font-size: 12px;
}
