<div id="view-day">

  <div class="nav">
    <p><span ng-show="userProfile">Choose your playing date and time...</span>&nbsp;</p>
    <button class="btn"><i class="fa fa-play fa-flip-horizontal"></i> Previous</button>
    <h1>Thursday 13th Jul 2017</h1>
    <button class="btn">Next <i class="fa fa-play"></i></button>
    <a href="#" class="calendar"><i class="fa fa-calendar"></i></a>
    <p><span ng-show="userProfile">You can book up to 14 days ahead</span>&nbsp;</p>
  </div>

  <div class="legend">
    <p class="legend-available">Available</p>
    <p class="legend-member">Member Booking</p>
    <p class="legend-your">Your Booking</p>
    <p class="legend-club">Club Booking</p>
    <p class="legend-unavailable">Unavailable</p>
  </div>

  <div class="make" ng-show="userProfile">
    <button class="btn">Make Booking</button>
    <button class="btn">Cancel Booking</button>
  </div>

  <p class="title">Denham Lake</p>
  <div class="slots">
    <p class="legend-unavailable">09:00 Booked</p>
    <p class="legend-unavailable">09:00 Booked</p>
    <p class="legend-unavailable">09:00 Booked</p>
    <p class="legend-unavailable">09:00 Booked</p>
    <p class="legend-unavailable">09:00 Booked</p>
    <p class="legend-available">09:00 Booked</p>
    <p class="legend-available">09:00 Booked</p>
    <p class="legend-member">09:00 Booked</p>
    <p class="legend-member">09:00 Booked</p>
    <p class="legend-your">09:00 Booked</p>
    <p class="legend-member">09:00 Booked</p>
    <p class="legend-member">09:00 Booked</p>
    <p class="legend-member">09:00 Booked</p>
    <p class="legend-member">09:00 Booked</p>
    <p class="legend-club">09:00 Booked</p>
    <p class="legend-club">09:00 Booked</p>
    <p class="legend-club">09:00 Booked</p>
  </div>
  <p class="title">Denham Lake</p>

</div>
