.place-moderators-wrapper .panel-title {
	cursor: pointer;
}

.place-moderators-wrapper .panel-collapse {
	padding: 10px 0 10px 0;
}

.place-moderators .moderators h5 {
  background: #FFEFD5;
  padding: 0px;
  margin: 1px;
  height: 25px;
}

.place-moderators .moderators h5 span {
  padding: 5px;
  display: inline-block;
}

.place-moderators .moderators h5 button {
  height: inherit;
}

.place-moderators .moderators a {
  background: #fff5e6;
  padding: 5px;
  margin: 1px;
  display: block;
}

.place-moderators .moderator-data form {
  padding-top: 10px;
  clear: both;
}

.place-moderators .moderator-data form .input-group-addon {
  min-width: 150px;
  text-align: left;
  font-weight: bold;
}
