.place-properties-wrapper .panel-title {
	cursor: pointer;
}

.place-properties-wrapper .panel-collapse {
	padding: 10px 0 10px 0;
}

.place-properties form {
  padding-top: 10px;
  clear: both;
}

.place-properties .input-group-addon {
  min-width: 150px;
  text-align: left;
  font-weight: bold;
}

.place-properties .btn-group {
  margin-right:10px;
}
