<div id="view-checkout">

  <h1 class="top">Checkout</h1>

  <h4 class="alert alert-warning" ng-show="status == 'progress'">Booking, please wait...</h4>
  <h4 class="alert alert-success" ng-show="status == 'success'">Booking complete</h4>
  <h4 class="alert alert-danger" ng-show="status == 'failed'">Something went wrong, please try with different seats</h4>

  <checkout-show-tickets />

  <div class="pay" ng-show="basket.amount > 0 && (!status || status == 'failed')">
    <p class="credit">Your credit &nbsp; {{credit.currency}} {{credit.amount | sb_numberX100 : true}}</p>
    <button class="btn btn-primary" ng-click="bookWithCredit()" ng-show="credit.amount >= basket.amount">Pay with credit</button>
    <button class="btn btn-primary" ng-click="bookWithCard()">Pay with card</button>
    <button class="btn btn-primary" ng-click="bookWithPayPal()">Pay with PayPal</button>
  </div>

  <p class="ref" ng-show="reference">Reference &nbsp; {{reference.ref}}</p>

  <a href="#" class="empty" ng-show="!basket.amount">No tickets in your basket, start over?</a>
  <a href="#" class="empty" ng-show="status == 'failed'">Start over?</a>

</div>
